<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Categories</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
	<div class="container my-2">
        <h1>Categories List</h1>

        <a th:href="@{/admin/newCategory}" class="btn btn-primary btn-sm mb-3"> Add Category </a>

        <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>Category Id</th>
                    <th>Name</th>
                    <th>Created at</th>
                    <th>Updated at</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="category : ${listCategories}">
                    <td th:text="${category.id}"></td>
                    <td th:text="${category.name}"></td>
                    <td th:text="${category.created_at}"></td>
                    <td th:text="${category.updated_at}"></td>
                    <td> <a th:href="@{'/admin/category/update/' + ${category.id}}" class="btn btn-primary">Update</a>
                        <a th:href="@{'/admin/category/delete/' + ${category.id}}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <a th:href="@{/admin/dashboard}" class="pb-5"> Tro ve</a>
</body>
</html>